<div class="settings-monitor">
	<ul class="settings-monitor-menu">
		<li class="settings-monitor-menu-li" 
			ng-class="{'active': oLayout.number == 2}" 
			ng-click="selectLayout(2)">2X1</li>
		<li class="settings-monitor-menu-li"
			ng-class="{'active': oLayout.number == 4}"
			ng-click="selectLayout(4)">2X2</li>
		<li class="settings-monitor-menu-li"
			ng-class="{'active': oLayout.number == 6}"
			ng-click="selectLayout(6)">3X2</li>
		<li class="settings-monitor-menu-li"
			ng-class="{'active': oLayout.number == 8}"
			ng-click="selectLayout(8)">4X2</li>
		<li class="settings-monitor-menu-li"
			ng-class="{'active': oLayout.number == 10}"
			ng-click="selectLayout(10)">5X2</li>
	</ul>
	<ul class="settings-monitor-layout">
		<li class="settings-monitor-layout-li"
			ng-repeat="item in oLayout.list track by $index"
			ng-class="{
				'twoSize': oLayout.number == 2,
				'fourSize': oLayout.number == 4,
				'sixSize': oLayout.number == 6,
				'eightSize': oLayout.number == 8,
				'tenSize': oLayout.number == 10}">
			<div class="settings-monitor-layout-li-cont" ng-bind="$index + 1"></div>
		</li>
	</ul>
	<ul class="settings-monitor-option">
		<li class="settings-monitor-option-li"
			ng-repeat="item in oLayout.list track by $index">
			<span class="settings-monitor-option-li-child" ng-bind="$index + 1"></span>
			<!-- 类型	 -->
			<div class="zc-j-dropdown settings-monitor-option-li-child">
                <button class="dropdown-toggle zc-g-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown-btn-current" ng-bind="item.typeName"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu zc-g-dropdown-menu">
                    <li class="zc-g-dropdown-menu-li"
                        ng-class="{'active': false}"
                        ng-repeat="childItem in typeList"
                        ng-click="setType(childItem, $parent.$index, $index)">
                        <a class="zc-g-dropdown-menu-li-a" href="javascript:;" ng-bind="childItem.typeName"></a>
                    </li>
                </ul>
            </div>
			<!-- 选项，复选按钮 -->
            <div class="zc-j-dropdown settings-monitor-option-li-child" ng-show="item.typeValue">
                <button class="dropdown-toggle zc-g-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="dropdown-btn-current" ng-bind="item.choicedOpt"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu zc-g-dropdown-menu">
                    <li class="zc-g-dropdown-menu-li"
                        ng-class="{'active': false}"
                        ng-repeat="option in item.options"
                        ng-click="setOptions(childItem, $parent.$index, $index)">
                        <a class="zc-g-dropdown-menu-li-a" href="javascript:;" ng-bind="option"></a>
                    </li>
                </ul>
            </div>
		</li>
	</ul>
</div>