<div class="zc-login">
    <div class="zc-login-window">
        <div class="window-header">
            xxx管理员分享的大屏监控
        </div>
        <div class="window-body">
            <p class="window-body-title">请输入验证码：</p>
            <div class="window-body-content">
                <input class="window-body-content-input zc-j-input" ng-model="oData.content" type="text">
                <button class="window-body-content-btn zc-j-btn btn-text" type="button" ng-click="login()" name="button">确认</button>
            </div>
        </div>
    </div>
</div>
